extends email-layout

block content
  h2 Magee Tires
  p Hello. This email is to inform you that #{tireType} tires are back in stock!
  p We currently have #{quantity} in stock so act fast!
  br
  p If you didn't request this email, please ignore it.
