extends email-layout

block content
  h2 Magee Tires
  p Hello. This email is to inform you that #{tireType} tires are out of stock!
  p We currently have #{quantity} and we are sorry for the inconvenience.
  p We will notify you when they are back in stock.
  br
  p If you didn't request this email, please ignore it.
